.user {
    padding: 5%;
    text-align: center;
    border: solid 30px;
    border-color: red blue green black;
}

.userHeadTitle {
    font-size: -webkit-xxx-large;
    background: cadetblue;
    border-radius: 50px;
    color: whitesmoke;
}

.userHeadBtn {
    float: right;
}

.userFromBtn {
    margin-left: 5%;
}

.userData {
    border: solid 20px;
    border-color: silver gold;
    padding: 2%;
    margin-top: 10%;
}

.userItem {
    padding: 3%;
}

.userItemBtn {
    margin-left: 3%;
}

.img {
    width: 70%;
}

.landingTitle {
    font-size: -webkit-xxx-large;
}

.landing {
    text-align: center;
}

.landingHead {
    margin-bottom: 4%;
}

.landingSignbtn {
    margin-left: 2%;
}

.login {
    text-align: center;
}

.loginTitle {
    font-size: -webkit-xxx-large;
}

.loginBtn {
    margin-top: 2%;
}



.register {
    text-align: center;
}

.registerTitle {
    font-size: -webkit-xxx-large;
}

.registerBtn {
    margin-top: 2%;
}


.redir {
    text-decoration: none;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    font-family: system-ui;
    font-weight: 500;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(66, 246, 11, 0.381);
  }

  .dropdown {
    margin-top: 40px;
    font-size: larger;
    font-weight: 700;
  }